*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(165, 219, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

}

.panelT{
    width: 100%;
    height: 100px;
    background-color: rgb(111, 219, 116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
}

.elem{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.elem h2{
    font-size: 35px;
}

.score{
    background-color: #fff;
    padding: 10px 20px;
    color: rgb(8, 70, 49);
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
}

.panelB{
    width: 100%;
    height: 90%;
    /* background-color: black; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble{
    height: 40px;
    width: 40px;
    background-color: rgb(20, 128, 26);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(8, 70, 49);
}